.wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.wrapper .item {
    border: none !important;
}
.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper .content {
    width: 30rem;
}

@media screen and(max-width: 480px) {
    .form-wrapper {
        width: 100%;
    }
}

/* .profile_width {
    width: 40rem;
}
@media screen and(max-width: 480px) {
    .profile_width {
        width: 100%;
    }
} */