.container .card-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 70%;
}
.container .card-wrapper .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (max-width: 720px) {
    .container .card-wrapper {
        display: flex;
        width: 100%;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        height: 70%;
    }
}
.container .card-wrapper .card .blinker {
 animation: blinker .8s ease-in infinite;
}
@keyframes blinker {
    to {
        color: #000;
    } from {
        color: rgb(255, 0, 0);
    }
}